<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>fin-hypergrid-dnd-list</title>

  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <link rel="import" href="../fin-hypergrid-dnd-list.html">
</head>
<body>

  <fin-hypergrid-dnd-list></fin-hypergrid-dnd-list>

  <script>

/* globals describe, it, assert */

'use strict';

var customElement = document.querySelector('fin-hypergrid-dnd-list');

describe('<fin-hypergrid-dnd-list>', function() {

    describe('test/basic-test.js', function() {
        it('should have real tests filled out', function() {
            assert.equal(customElement, customElement);
        });

    });

});

  </script>

</body>
</html>
