:host {
  display: block;
  position: relative;
}
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dnd-header {
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 46px;
  background-color: #00796b;
  color: white;
  margin-left: 5%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}
.list {
  background-color: white;
  position: absolute;
  top: 46px;
  left: 5%;
  right: 5%;
  overflow-y: auto;
  list-style-type: none;
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  bottom: 10%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0%;
  height: 10%;
}

.level1 {
  opacity: 0.7;
  z-index: 2;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transform: translate(-2px,-2px);
     -moz-transform: translate(-2px,-2px);
      -ms-transform: translate(-2px,-2px);
       -o-transform: translate(-2px,-2px);
          transform: translate(-2px,-2px);
}
.level2 {
  opacity: 0.7;
  z-index: 2;
  position: absolute;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transform: translate(-4px,-4px);
     -moz-transform: translate(-4px,-4px);
      -ms-transform: translate(-4px,-4px);
       -o-transform: translate(-4px,-4px);
          transform: translate(-4px,-4px);
}
.level3 {
  opacity: 0.7;
  z-index: 2;
  position: absolute;
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transform: translate(-6px,-6px);
     -moz-transform: translate(-6px,-6px);
      -ms-transform: translate(-6px,-6px);
       -o-transform: translate(-6px,-6px);
          transform: translate(-6px,-6px);
}
.level4 {
  opacity: 0.7;
  z-index: 2;
  position: absolute;
  border: 1px solid #e0e0e0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transform: translate(-8px,-8px);
     -moz-transform: translate(-8px,-8px);
      -ms-transform: translate(-8px,-8px);
       -o-transform: translate(-8px,-8px);
          transform: translate(-8px,-8px);
}
.level5 {
  opacity: 0.7;
  z-index: 2;
  position: absolute;
  border: 1px solid #e0e0e0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -webkit-transform: translate(-10px,-10px);
     -moz-transform: translate(-10px,-10px);
      -ms-transform: translate(-10px,-10px);
       -o-transform: translate(-10px,-10px);
          transform: translate(-10px,-10px);
}
.spacer {
  visibility: hidden;
  overflow: hidden;
}
.transition {
  transition: height 200ms ease-in;
}
.beSmall {
  height: 0px;
}
.beBig {
  height: 51px;
}
